*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: sans-serif;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(wallpaper.png) no-repeat;
	background-size: cover;
	background-position: right top;
	color: white;
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
	display: none;
}

.title {
	transition: text-shadow .5s;
}

.container{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.avatar{
	margin-top: -25px;
}

.avatar-image{
	width: 250px;
	height: 250px;
	border-radius: 2px;
}

.social{
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
}

.link{
	display: inline-block;
	padding: 5px;
	width: 100px;
	color: white;
	top: -3px;
	box-shadow: 2px 3px 0 black;
	position: relative;
	text-decoration: none;
}

.link:hover{	
	top: 0;
	right: -2px;
	box-shadow: none;
}

.description{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	color: #f6f6f6;
}

@media only screen and (max-width: 600px) {
	body{
		background-position: center center;
	}
  .logo {
  	display: block;
    text-align: center;
    border: none;
    margin: 0;
  	padding: 0;
  	height: auto;
  	margin-bottom: 10px;
  }
  .title{
  	text-decoration: underline;
  	font-size: 3rem;
  }
  .avatar{
  	margin: 0;
  }
  .footer{
  	margin-top: 50px;
  }
}

.footer{
	bottom: 0;
	position: fixed;
	font-size: 0.9rem;
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 15px;
}

#yt{ background-color: #FF0000; }
#ds{ background-color: #7289da; }
#vk{ background-color: #597da3; }
#tw{ background-color: #00acee; }
#tg{ background-color: #039be5; }
#gh{ background-color: #0c0c0c; }
